# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.HaypirKeyjur.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Prince\Documents\GitHub\HaypirKeyjur\.idea\.idea.HaypirKeyjur\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
